#modal-phone, #modal-tour {
  background: transparent;

  @media (max-width: 991px) {
    padding: 40px 20px;
  }
}
.modal-content {
  padding: 60px 80px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(180deg, rgba(4, 20, 39, 0.20) 0%, rgba(4, 20, 39, 0.00) 100%);
  backdrop-filter: blur(7.5px);

  @media (max-width: 991px) {
    padding: 30px 40px;
  }

  .title {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 75% */

    @media (max-width: 991px) {
      font-size: 24px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

    li {
      @media (max-width: 991px) {
        padding-left: 30px;
      }
      &.working {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -33px;
          width: 23px;
          height: 23px;
          background: url("../img/icons/icons.svg#work") no-repeat center / cover;

          @media (max-width: 991px) {
            left: 0;
          }
        }
      }
      &.address {
        position: relative;
        margin-bottom: 30px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -33px;
          width: 22px;
          height: 28px;
          background: url("../img/icons/icons.svg#location") no-repeat center / cover;

          @media (max-width: 991px) {
            left: 0;
          }
        }
      }
      &.phone {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -33px;
          width: 23px;
          height: 23px;
          background: url("../img/icons/icons.svg#phone-circle") no-repeat center / cover;

          @media (max-width: 991px) {
            left: 0;
          }
        }
      }
      &.email {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -33px;
          width: 23px;
          height: 16px;
          background: url("../img/icons/icons.svg#email") no-repeat center / cover;

          @media (max-width: 991px) {
            left: 0;
          }
        }
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  background: #DA3743;
  filter: drop-shadow(0px 0px 10px #DA3743);

  &:hover {
    filter: drop-shadow(0px 0px 25px #DA3743);
  }

  span {
    color: #FFF;
    text-align: center;
    font-family: Alumni Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
}

.btn-events {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  padding: 20px;
  border: 1px solid #DA3743;

  span {
    color: #FFF;
    text-align: center;
    font-family: Alumni Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 77.778% */
    text-transform: uppercase;
  }

  &-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
}

.title-container {
  margin-bottom: 180px;

  @media (max-width: 991px) {
    margin-bottom: 100px;
  }

  h1 {
    text-align: center;
    color: #FFF;
    font-family: Alumni Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 80% */

    span {
      color: #DA3743;
      font-weight: 400;
    }

    @media (max-width: 991px) {
      font-size: 66px;
      line-height: 36px;
    }
  }
}