.header {
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 50px 0;

    @media (max-width: 991px) {
      padding: 30px 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 14px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__lang {
    position: relative;
    margin-left: auto;

    &:hover, &:focus {
      .lang__dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    .lang__current {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 7px 9px;
      border-radius: 50px;
      border: 1px solid rgba(white, .2);
      cursor: pointer;

      @media (max-width: 991px) {
        border: none;
      }

      .arrow {
        display: flex;
        align-items: center;
        width: 12px;
        height: 12px;

        @media (max-width: 991px) {
          display: none;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .flag {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;

      @media (max-width: 991px) {
        width: 25px;
        height: 25px;
      }

      &.cz {
        background: url("../img/cz.png") no-repeat center / cover;
      }
    }

    .lang__dropdown {
      position: absolute;
      top: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: max-content;
      height: auto;
      padding: 5px 9px;
      transition: all .3s ease;

      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);

      li {

        a {
          padding: 5px;
        }
      }
    }
  }

  &__phone {
    margin-left: 50px;

    @media (max-width: 991px) {
      margin-left: 20px;

      p {
        display: none;
      }
      a {
        span {
          display: none;
        }
      }
    }

    p {
      padding-left: 21px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        width: 16px;
        height: 16px;

        @media (max-width: 991px) {
          width: 25px;
          height: 25px;
        }
      }

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}